.row{
    width: 50%;
    background-color: aqua;
    border: 1px solid black;
    height: 300px;
    margin-left:100px ;
    position: relative;
}

.col{
    width: 20%;
    height: 200px;
    border: 1px solid blue;
}

.col:nth-child(1){
    background-color: brown;
    position: absolute;
    top: 0;

}
.col:nth-child(2){
    
    background-color: blanchedalmond;
    position: absolute;
    top: 0;
    right: 0;
}
.fixed{
    position: fixed;
    top: 200px;
    right: 0;

}
.sticky{
    position: sticky;
    top: 200px;
}